<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletDownloadFile</servlet-name>
        <servlet-class>pdf.b3c3.ServletDownloadFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDownloadFile</servlet-name>
        <url-pattern>/ServletDownloadFile</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletSupprPages</servlet-name>
        <servlet-class>pdf.b3c3.ServletSupprPages</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSupprPages</servlet-name>
        <url-pattern>/ServletSupprPages</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletExtrairesPagesPdf</servlet-name>
        <servlet-class>pdf.b3c3.ServletExtrairesPagesPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletExtrairesPagesPdf</servlet-name>
        <url-pattern>/ServletExtrairesPagesPdf</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletFusionPdf</servlet-name>
        <servlet-class>pdf.b3c3.ServletFusionPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletFusionPdf</servlet-name>
        <url-pattern>/ServletFusionPdf</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletImgEnPdf</servlet-name>
        <servlet-class>pdf.b3c3.ServletImgEnPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletImgEnPdf</servlet-name>
        <url-pattern>/ServletImgEnPdf</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletPdfEnImg</servlet-name>
        <servlet-class>pdf.b3c3.ServletPdfEnImg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPdfEnImg</servlet-name>
        <url-pattern>/ServletPdfEnImg</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletSignerPdf</servlet-name>
        <servlet-class>pdf.b3c3.ServletSignerPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSignerPdf</servlet-name>
        <url-pattern>/ServletSignerPdf</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletDownloadZip</servlet-name>
        <servlet-class>pdf.b3c3.ServletDownloadZip</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDownloadZip</servlet-name>
        <url-pattern>/ServletDownloadZip</url-pattern>
    </servlet-mapping>
    
    
    
    <!-- DEFAULT -->
    <!--    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
